---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Heading } from 'accessible-astro-components'
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import building1 from '@assets/images/about/building-1.jpg'
import building2 from '@assets/images/about/building-2.jpg'
import dignity from '@assets/images/about/dignity.jpg'
import humility from '@assets/images/about/humility-2.jpg'
import innovation from '@assets/images/about/innovation.jpg'
import justice from '@assets/images/about/justice.jpg'
import powerSharing from '@assets/images/about/power-sharing.jpg'

// Get all portfolio projects
const projects = await getCollection('projects')

// Define approaches with their descriptions
const approaches = [
  {
    title: 'Build relationships',
    description:
      'Relationships are the cornerstone of our work (and lives), and we value them above all else. We build trust and authentic connections with people at every level of our work, especially across lines of power and difference.',
  },
  {
    title: 'Collaborate',
    description:
      'We relish opportunities to collaborate with and learn from one another—both our team and those with whom we work. We aim to keep everyone in the loop and reach out when we’re not sure about something, knowing that in doing so we are building our collective knowledge and impact.',
  },
  {
    title: 'Be accountable',
    description:
      'Put simply, we do what we say we’re going to do. And when we occasionally fall short, we own that, take corrective action, and do better next time. For us, accountability runs up, down, and sideways.',
  },
  {
    title: 'Focus on the person',
    description:
      'At the center of all systems are people, and we strive to never lose sight of that. Whether it’s going off the agenda when a colleague seems like they’re not okay, or making sure someone’s basic needs are met even when it’s a little outside of our scope, we adapt to the needs of the person at the center of it all and offer each other empathy and grace.',
  },
  {
    title: 'Engage in direct service',
    description:
      'Every Jaydot team member spends valuable time on the ground. We work hard to witness and understand the realities that our clients—and staff—face every day so we can most effectively address them.',
  },
]
---

<DefaultLayout
  title="About"
  description="Jaydot is a mission-based organization dedicated to ending homelessness in DC by helping people find housing that feels like home."
>
  <PageHeader
    title="About Us"
    subtitle="Jaydot is a mission-based organization dedicated to ending homelessness in DC by helping people find housing that feels like home."
    bgType="gradient"
  />

  <section class="my-16">
    <div class="container space-y-12">
      <div id="history">
        <Heading level="h2" class="mb-6">Our history</Heading>
        <div class="mb-20">
          <Image
            class="md:float-left w-100 md:mr-6 mb-6"
            src={building1}
            alt="FIXME"
            decoding="async"
            loading="lazy"
          />
          <div>
            <p class="mb-4">
              Jaydot was started in 2010 to fill a gap in housing solutions for people exiting homelessness in DC. Our work is based on the fundamental idea that the solution to homelessness is housing. Although Jaydot has grown in size and scope, we maintain our human-centered approach. Our focus remains on seeking innovation and excellence at the intersection of affordable housing, supportive services, and creating vibrant communities.
            </p>
            <p class="mb-4">
              In both our Permanent Supportive Housing (PSH) and Resident Services programs, we focus on providing voluntary, wraparound onsite services at residences. Our Principal, Chapman Todd, was inspired to focus on this model based on his 20+ years of work in homeless services in DC. During that time, Chapman spent a decade working as part of the two person management team in the early days of the DC Central Kitchen, and then spent a decade as the Director of Housing Programs and Housing Development with Catholic Charities.
            </p>
            <p class="mb-4">
              We are often asked why Jaydot is an LLC rather than a nonprofit. Because of structural and legal differences, we believe that being an LLC allows us to work more efficiently and with greater allegiance to our mission. Our team can be nimble and responsive to changing needs and circumstances in a way that can be complicated within more rigid, top-down governance structures. And, we can fully dedicate our time to providing excellent services because we don't have the overhead that comes with staffing and sustaining extensive fundraising efforts. Our structure lets us focus on the heart of our work: ensuring that housing solutions are adapted to fit the needs of those we serve.
            </p>
            <p>
              And about our name… "Jaydot" was suggested to Chapman by his then 9-year-old child, who he asked for ideas. Chapman thought the name hit the mark – confident, concise, unlimited in scope, and a little playful. As in so much of our work, the real meaning is in the relationship.
            </p>
          </div>
        </div>
        <div id="mission">
          <Heading level="h2" class="mb-2">Our mission</Heading>
        </div>
        <p>
          Our mission is to create innovative, quality housing solutions that address the needs of those impacted by social inequity. We believe that housing is a human right, homelessness is a solvable problem, and we can create an equitable, human-centered system where housing solutions are readily adapted to fit the needs of those we serve. 
        </p>

        <div id="values" class="mt-20">
          <Heading level="h2" class="mb-2">Our values</Heading>
        </div>
        <p class="italic">We strive to embody these core values in our daily work:</p>
        <div class="masonry sm:masonry-sm md:masonry-md gap-8 mt-10">
          <div class="mb-4 border-2 rounded-lg border-(--brand-orange) p-4 md:w-120 break-inside-avoid">
            <Image
              class="w-300 cover rounded-t-lg relative"
              src={dignity}
              alt="FIXME"
              decoding="async"
              loading="lazy"
            />
            <div class="rounded-b-lg bg-(--brand-primary) p-4 text-(--brand-light-olive)">
              <Heading level="h3" class="mb-2">Dignity</Heading>
              <p>We value the inherent dignity, humanity, self-determination, and worth of all people.</p>
            </div>
          </div>
          <div class="mb-4 border-2 rounded-lg border-(--brand-orange) p-4 md:w-120 break-inside-avoid">
            <Image
              class="w-full cover rounded-t-lg relative"
              src={justice}
              alt="FIXME"
              decoding="async"
              loading="lazy"
            />
            <div class="rounded-b-lg bottom-0 left-0 bg-(--brand-primary)/90 p-4 text-(--brand-light-olive)">
              <Heading level="h3" class="mb-2">Justice</Heading>
              <p>
                Many of the challenges we seek to address are a direct result of intersecting systems of oppression, in
                particular anti-Black racism. We are committed to honoring people’s unique histories, perspectives, and
                ways of being, and working towards a system in which all people are free.
              </p>
            </div>
          </div>
          <div class="mb-4 border-2 rounded-lg border-(--brand-orange) p-4 md:w-120 break-inside-avoid">
            <Image
              class="w-full cover rounded-t-lg relative"
              src={humility}
              alt="FIXME"
              decoding="async"
              loading="lazy"
            />
            <div class="rounded-b-lg bottom-0 left-0 bg-(--brand-primary)/90 p-4 text-(--brand-light-olive)">
              <Heading level="h3" class="mb-2">Humility</Heading>
              <p>
                We are always learning and thus making mistakes. We are committed to reflecting on, owning, and learning
                from our collective experiences.
              </p>
            </div>
          </div>
          <div class="mb-4 border-2 rounded-lg border-(--brand-orange) p-4 md:w-120 break-inside-avoid">
            <Image
              class="w-full cover rounded-t-lg relative"
              src={innovation}
              alt="FIXME"
              decoding="async"
              loading="lazy"
            />
            <div class="rounded-b-lg bottom-0 left-0 bg-(--brand-primary)/90 p-4 text-(--brand-light-olive)">
              <Heading level="h3" class="mb-2">Innovation</Heading>
              <p>
                We work to identify the gaps and possibilities in the systems within which we operate and work with our
                partners to craft innovative solutions. We are not bound by what is—we adapt to changing circumstances and
                focus on what can be.
              </p>
            </div>
          </div>
          <div class="mb-4 border-2 rounded-lg border-(--brand-orange) p-4 md:w-120 break-inside-avoid">
            <Image
              class="w-full cover rounded-t-lg relative"
              src={powerSharing}
              alt="FIXME"
              decoding="async"
              loading="lazy"
            />
            <div class="rounded-b-lg bottom-0 left-0 bg-(--brand-primary)/90 p-4 text-(--brand-light-olive)">
              <Heading level="h3" class="mb-2">Power sharing</Heading>
              <p>
                We strive to build the capacity of our team and the communities we work with by transferring our
                collective knowledge, credibility, and power.
              </p>
            </div>
          </div>
          <div class="mb-4 border-2 rounded-lg border-(--brand-orange) p-4 md:w-120 break-inside-avoid">
            <Image
              class="w-full cover rounded-t-lg relative"
              src={building2}
              alt="FIXME"
              decoding="async"
              loading="lazy"
            />
            <div class="rounded-b-lg bottom-0 left-0 bg-(--brand-primary)/90 p-4 text-(--brand-light-olive)">
              <Heading level="h3" class="mb-2">Holistic thinking</Heading>
              <p>
                We are involved in all aspects of our field, from macro policy to the ground level, and believe that they
                are deeply connected. We are dedicated to establishing connections to ensure that systems are responsive
                to the needs of the communities with which we work.
              </p>
            </div>
          </div>
        </div>

      <div id="approach" class="mt-20">
        <Heading level="h2" class="mb-2">Our approach</Heading>
        <p class="mb-12 italic">
          We approach our mission through these practices:
        </p>
        <div class="">
          {
            approaches.map((page) => (
              <article>
                <Heading level="h3" size="h6" class="mb-3">
                  {page.title}
                </Heading>
                <p class="mb-3">{page.description}</p>
              </article>
            ))
          }
        </div>
      </div>
    </div>

    <div class="mt-20 italic text-sm">Thanks to Robert Benson and Gus Powell for photos on this page.</div>

  </section>
</DefaultLayout>

<style>
  article {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-large);
    background-color: var(--background-color);
    margin-bottom: 1rem;
    padding: 1rem;
  }
</style>