---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import CallToAction from '@components/CallToAction.astro'
import Counter from '@components/Counter.astro'
import ContentMedia from '@components/ContentMedia.astro'
import FeaturedProjects from '@components/FeaturedProjects.astro'
import FeaturedPosts from '@components/FeaturedPosts.astro'
import { Accordion, AccordionItem, Avatar, AvatarGroup, Heading, Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import FeaturedPartners from '@components/FeaturedPartners.astro'

import bba from '@assets/partners/bba.png'
import CNHED from '@assets/partners/CNHED.png'
import CS from '@assets/partners/CS.png'
import DHS from '@assets/partners/DCDHS_logo.jpg'
import enterprise from '@assets/partners/enterprise.jpg'
import gilbane from '@assets/partners/gilbane.png'
import gwcf from '@assets/partners/gwcf.png'
import HDC from '@assets/partners/HDC.png'
import housingAnd from '@assets/partners/housing-and.png'
import housingUp from '@assets/partners/HousingUp.png'
import jubileeHousing from '@assets/partners/jubilee-housing.png'
import lisner from '@assets/partners/lisner.gif'
import NRP from '@assets/partners/NRP.png'
import trueGround from '@assets/partners/true-ground.png'
import TWHC from '@assets/partners/TWHC.png'
import urbanAtlantic from '@assets/partners/urban-atlantic.png'
import wesley from '@assets/partners/wesley.png'

let data;
let err;

try {
  // fetch homepage data
  data = await fetch(`${import.meta.env.PUBLIC_API_URL || "https://localhost:3000"}/api/globals/homepage?depth=2&draft=false&locale=undefined&trash=false`).then(r => r.json()).catch(e => console.log(`ERROR: ${e.message}`));
} catch (e) {
  err = e.message;
}



const partners = [
  {
    src: bba,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: CNHED,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: CS,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
    {
    src: DHS,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: enterprise,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: gilbane,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: gwcf,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: HDC,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: housingAnd,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
    {
    src: housingUp,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: jubileeHousing,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: lisner,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: NRP,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: trueGround,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: TWHC,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: urbanAtlantic,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
  {
    src: wesley,
    alt: "Partner name's logo.",
    url: '#FIXME',
  },
]

---

<DefaultLayout title="Home">
  <Hero />
  {data?.stats?.length && (
    <section class="mt-12 py-12 mb-18 md:mt-30 md:mb-32">
        <div class="container">
          <Heading level="h2" class="md:mb-16">Our impact so far:</Heading>
          <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
            {data.stats.map((stat: any) => (
              <Counter count={stat.amount} title={stat.text} sub={stat.subtext} />
            ))}
          </div>
        </div>
    </section>
  )}

  {data?.whatWeDoCard?.length && (
    <section class="mb-8 md:mb-20">
      <div class="container">
        <Heading level="h2" class="mb-8">Who we are</Heading>
        <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
          {data.whatWeDoCard.map((card: any) => (
            <Feature icon={`lucide:${card.icon}`} title={card.title} url={card.url}>
              {card.summary}
            </Feature>
          ))}
        </div>
      </div>
    </section>
  )}

  {data?.testimonials?.length && (
    <section class="my-8 py-8">
      <div class="container">
        <Heading level="h2" class="mb-8">Trusted by our participants</Heading>
        <p class="mb-12 italic">But don't take our word for it. See what they have to say.</p>
        <div class="masonry">
          {
            data.testimonials.map((t: any) => (
              <div class="testimonial w-full break-inside-avoid mb-8">
                <p class="mb-3">{t.quote}</p>
                <p class="text-right italic">- {t.attribution}</p>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  )}

  {data?.cta && (
    <CallToAction
      title={data.cta.title}
      link={data.cta.linkUrl || "#"}
      linkText={data.cta.linkName || "More here"}
      icon={data.cta.icon || undefined}
    />
  )}

  {data?.partners?.length && (
    <section class="mb-8 md:mb-16">
      <div class="container">
        <Heading level="h2" class="mb-24">Our partners</Heading>
        <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-4">
          {/* {data.partners.map((partner: any) => <FeaturedPartners src={partner.logo.url} alt={partner.logo.alt || `${partner.name}'s logo.'`} url={partner.url} />)} */}
          {partners.map((partner: any) => <FeaturedPartners src={partner.src} alt={partner.alt || `logo.'`} url={partner.url} />)}
        </div>
      </div>
    </section>
  )}

</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }

  .testimonial {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-large);
    background-color: var(--background-color);
    padding: 1rem;
  }
</style>
