---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import CallToAction from '@components/CallToAction.astro'
import Counter from '@components/Counter.astro'
import { Heading } from 'accessible-astro-components'
import FeaturedPartners from '@components/FeaturedPartners.astro'

let data;
let err;

try {
  // fetch homepage data
  data = await fetch(`${import.meta.env.PUBLIC_API_URL || "https://localhost:3000"}/api/globals/homepage?depth=2&draft=false&locale=undefined&trash=false`).then(r => r.json()).catch(e => console.log(`ERROR: ${e.message}`));
} catch (e) {
  err = e.message;
}

---

<DefaultLayout title="Home">
  <Hero />
  {data?.stats?.length && (
    <section class="py-8 mb-18 md:mt-0 md:mb-16">
        <div class="container">
          <Heading level="h2" class="mb-8 md:mb-16">Our impact so far:</Heading>
          <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
            {data.stats.map((stat: any) => (
              <Counter count={stat.amount} title={stat.text} sub={stat.subtext} />
            ))}
          </div>
        </div>
    </section>
  )}

  {data?.whatWeDoCard?.length && (
    <section class="mb-8 md:mb-20">
      <div class="container">
        <Heading level="h2" class="mb-8">Who we are</Heading>
        <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
          {data.whatWeDoCard.map((card: any) => (
            <Feature icon={`lucide:${card.icon}`} title={card.title} url={card.url}>
              {card.summary}
            </Feature>
          ))}
        </div>
      </div>
    </section>
  )}

  {data?.testimonials?.length && (
    <section class="my-8 py-8">
      <div class="container">
        <Heading level="h2" class="mb-12">Trusted by our participants & partners</Heading>
        <div class="masonry">
          {
            data.testimonials.map((t: any) => (
              <div class="testimonial w-full break-inside-avoid mb-8">
                <p class="mb-3">{t.quote}</p>
                <p class="text-right italic">- {t.attribution}</p>
              </div>
            ))
          }
        </div>
      </div>
    </section>
  )}

  {data?.cta && (
    <CallToAction
      title={data.cta.title}
      link={data.cta.linkUrl || "#"}
      linkText={data.cta.linkName || "More here"}
      icon={data.cta.icon || undefined}
    />
  )}

  {data?.partners?.length && (
    <section class="mb-8 md:mb-24">
      <div class="container">
        <Heading level="h2" class="mb-2">Our partners</Heading>
        <div class="grid gap-8 md:gap-20 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          {data.partners.map((partner: any) => <FeaturedPartners partner={partner} />)}
        </div>
      </div>
    </section>
  )}

</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }

  .testimonial {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-large);
    background-color: var(--background-color);
    padding: 1rem;
  }
</style>
