---
import { Accordion, AccordionItem, Card, Heading, Link, Notification } from 'accessible-astro-components'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import CallToAction from '@components/CallToAction.astro'
import { nullable, undefined } from 'astro:schema'
import chapman from '@assets/images/team/chapman.jpg'
import logo from '@assets/images/team/jaydot-fav-user.png'
import user from '@assets/images/team/jaydot-user.png'

// Get all portfolio projects
// const projects = await getCollection('projects')

// team members with their bios
// const res = await fetch(`${import.meta.env.PUBLIC_API_URL}/api/globals/team?depth=2&draft=false&locale=undefined&trash=false`) // http://localhost:4321/api/posts by default
// const team = await res?.json()

// team members with their bios
const team = [
  {
    name: 'Abby McNaughton',
    pronouns: 'she/her, they/them',
    title: 'PSH Case Manager',
    bio: 'Abby has worked in homeless services in Washington, DC since 2022. As a PSH Case Manager, Abby’s favorite part of the work is connecting with and learning from their clients – they find each person endlessly interesting and enjoy helping them bring out their unique strengths. She has a particular passion for harm reduction, street medicine, supporting people living with severe mental illness and dual diagnoses, and reducing client interaction with carceral systems. Abby has been involved in mutual aid efforts, including helping to establish a limited-equity cooperative to provide long-term affordable housing for longtime DC residents. With a BA in Environmental Studies from UNC-Chapel Hill, Abby approaches their work through a lens of social and economic justice, grounded in the belief that housing is a human right. ',
    image: user,
  },
  {
    name: 'Ansley Gerhard',
    pronouns: 'she/her',
    title: 'PSH Case Manager',
    bio: "Ansley is a passionate Case Manager with a background in substance abuse and harm reduction. She started her career in Washington State, where she became an advocate for the Housing First model after witnessing first hand how the lack of housing can be a barrier to recovery. Since 2023, Ansley has worked on PSH in Washington, DC, assisting her clients with obtaining and maintaining housing. She loves watching her clients take the first steps towards stability as a result of having safe, affordable, dignified housing. In addition to her work in homelessness, Ansley has a lengthy history of volunteer work in the LGBTQIA+ community and political activism. She holds a Bachelor's degree in Sociology and a minor in Public Health from Central Washington University. Ansley lives in Southern Maryland with her husband Peter and their two beloved dogs, Cookie and Leia, and balances her professional life with her passions for reading, knitting, embroidering, and traveling.",
    image: user,
  },
  {
    name: 'Ardena Holston',
    pronouns: 'she/her',
    title: 'PSH Case Manager',
    bio: 'Ardena brings over a decade of experience in customer service and leadership to her role as a PSH Case Manager with Jaydot. Her strong interpersonal skills and client-centered approach aid her in helping individuals and families who have experienced homelessness achieve housing stability, connect with essential resources, and overcome barriers related to employment, mental health, and healthcare. Ardena is passionate about leading with compassion and walking alongside her clients as they work toward stability and achieving personal goals. Outside of her professional life, she enjoys spending time with her partner, three children, and two dogs, and is guided by her strong values in family, faith, and service to others.',
    image: user,
  },
  {
    name: 'Ashton Riegler',
    pronouns: 'he/him',
    title: 'PSH Case Manager',
    bio: "Ashton is a dedicated Case Manager with experience in youth support, homelessness prevention, and LGBTQI+ advocacy. In addition to DC, Ashton has worked in New Jersey and New York helping families, youth, and the LGBTQI+ population achieve safety and stability through housing and supportive services. Ashton also supported K-12 schools across four counties in the Hudson Valley, where he worked with community members, staff, and students to develop and implement resources and curriculums centered around diversity, equity, and inclusion. He holds a Bachelor of Social Work and a Paralegal Certificate from Marist College in New York State. Ashton's personal identity as a queer trans-man significantly shapes his perspective and approach to his work. His experiences fuel his dedication to creating inclusive environments and advocating for policy and cultural changes. In the future, Ashton hopes to earn his Masters and Ph.D. in Social Work as well as a law degree and dreams of traveling the world with his fiancé.",
    image: user,
  },
  {
    name: 'Chapman Todd',
    pronouns: 'he/him',
    title: 'Principal / Director of Special Projects',
    bio: 'Chapman has 35 years of experience working on homelessness and housing issues in the Washington, DC area. In addition to his work at Jaydot, he contributes to shaping housing policies and initiatives in the District as a Board Member of both The Coalition (formerly CNHED) and The Community Partnership for the Prevention of Homelessness (TCP), and as a Member of the Leadership Council of the DC Reentry Housing Alliance. He is a graduate of Connecticut College and George Washington University Law School.',
    image: chapman,
  },
  {
    name: 'Jacqueline Vélez Lippman',
    pronouns: 'she/her',
    title: 'Project Manager',
    bio: 'As a Project Manager with Jaydot, Jacqueline manages relationships with development partners, developing collaborative project work plans and ensuring the smooth progression of affordable housing projects in Washington, DC. Her work is driven by her passion for making DC an affordable, accessible place to live, especially for those who are currently unhoused. Known for her teamwork and morale-boosting abilities, Jacqueline is a supportive presence for her colleagues as well, always ready to lend a helping hand. She holds a Bachelor of Arts in Psychology, Philosophy, and Justice & Peace Studies from Georgetown University. Residing in Arlington, VA with her beloved cat, Mochi, Jacqueline enjoys spending her free time in nature, brunching with friends, and spending quality time with her sister. She cherishes trips to the beach, despite the lack of nearby coastlines.',
    image: logo,
  },
  {
    name: 'Rosemary Tyrcha',
    pronouns: 'she/her',
    title: 'Resident Engagement Services Coordinator',
    bio: 'Rosemary has been working with systemically disadvantaged students and families in the DC area since she moved to the area for college in 2021. In her role as Resident Engagement Services Coordinator at Jaydot, Rosemary serves as a warm and steady presence for senior residents at The Louise on Western, helping them navigate complex systems with respect and care. Deeply committed to kindness, justice, and connection, she seeks to find points of connection with and inspiration from each person she works with. Rosemary graduated summa cum laude from George Washington University with a BA in Sociology and Law and Society. Outside of her professional life, Rosemary enjoys reading, yoga, time with animals, exploring new restaurants, and traveling. She lives in Northwest DC with her partner and is eagerly planning for the arrival of their future cat.',
    image: logo,
  },
  {
    // src: sharlene,
    name: 'Sharlene Castle, MPA',
    pronouns: 'she/her',
    title: 'Director of Operations',
    bio: "Sharlene has worked on Permanent Supportive Housing in Washington, DC since 2017. In her current role, she ensures the Jaydot team has the resources and support they need to excel in their jobs and advises various stakeholders on the production, lease-up and operation of site-based PSH. Sharlene's early observations of the systemic issues that affect frontline social service workers and their clients drives her commitment to remain connected to on-the-ground realities and foster an environment where everyone she works with feels seen, heard, and valued. She holds a Bachelor’s degree in Women's Studies from San Diego State University, a Master’s in Public Administration from Cornell University and is a Returned Peace Corps Volunteer (China 2014-16). She is also co-chair of The Coalition's (formerly CNHED) Supportive Housing Working Group and the DC Housing Authority Provider’s Group. Outside of work, Sharlene enjoys backpacking, biking around DC, and relaxing at home in Mount Pleasant with her cat. She is passionate about creating a more compassionate society, ending homelessness, and enjoying anything filled with cheese.",
    image: logo,
  },
]
---

<DefaultLayout
  title="Team"
  description="Our team is united by core values that we strive to embody in our work: dignity, justice, innovation, humility, power sharing, and holistic thinking. Each person’s unique experiences strengthen our organization. Together, we bring a wide range of skills and perspectives to working toward our collective mission."
>
  <PageHeader
    title="Our Team"
    subtitle="Our team is united by core values that we strive to embody in our work: dignity, justice, innovation, humility, power sharing, and holistic thinking. Each person’s unique experiences strengthen our organization. Together, we bring a wide range of skills and perspectives to working toward our collective mission."
    bgType="gradient"
  />

  <section class="my-16">
    <div class="container space-y-12">
      <div class="grid gap-6 lg:gap-10 md:grid-cols-2 lg:grid-cols-3">
        {
          team.map((person: any) => (
            <div class="container mb-20 flex flex-col items-start justify-start">
              {/* <Icon aria-hidden="true" name="lucide:circle-user-round" size={80} /> */}
              {person.image ? (
                <Image
                  class='user-circle'
                  src={person.image}
                  alt={person.image?.alt || "Placeholder user image."}
                  decoding="async"
                  width={160}
                  height={160}
                  loading="eager"
                />
              ) : null}
              <div class="mt-6">
                <div>
                  <div class="text-2xl font-bold">{person.name}</div>
                  <div class="italic">({person.pronouns})</div>
                </div>
                <Accordion>
                  <AccordionItem title={person.title} variant="chevron">
                    <div class="mt-6">{person.bio}</div>
                  </AccordionItem>
                </Accordion>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <CallToAction
      title="Want to join our team?"
      link="https://jaydot.breezy.hr"
      linkText="See job openings"
      icon="users"
    />
  </section>
</DefaultLayout>

<style>
  article {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-large);
    background-color: var(--background-color);
    padding: 1rem;
  }

  .user-circle {
    clip-path: circle();
  }

</style>
