---
import { Accordion, AccordionItem, Heading } from 'accessible-astro-components'
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Image } from 'astro:assets'
import CallToAction from '@components/CallToAction.astro'
import logo from '@assets/images/team/jaydot-fav-user.png'

import teamFull from '@assets/images/team/team-placeholder.png'

// team members with their bios
const res = await fetch(`${import.meta.env.PUBLIC_API_URL || "https://localhost:3000" }/api/globals/team?depth=2&draft=false&locale=undefined&trash=false`) // http://localhost:4321/api/posts by default
const team = await res?.json()
console.log(team);

---

<DefaultLayout
  title="Team"
  description="Our team is united by core values that we strive to embody in our work: dignity, justice, innovation, humility, power sharing, and holistic thinking. Each person’s unique experiences strengthen our organization. Together, we bring a wide range of skills and perspectives to working toward our collective mission."
>
  <PageHeader
    title="Our team"
    subtitle="Our team is united by core values that we strive to embody in our work: dignity, justice, innovation, humility, power sharing, and holistic thinking. Each person’s unique experiences strengthen our organization. Together, we bring a wide range of skills and perspectives to working toward our collective mission."
    bgType="gradient"
  />

  <section class="my-16">
    <div class="container space-y-12">
      {team?.teamPhoto && (
        <div class="w-full h-full md:h-[300px] overflow-hidden">
          <img
            src={team.teamPhoto.url}
            alt={team.teamPhoto.alt || "Placeholder all team image."}
            decoding="async"
            loading="lazy"
          />
        </div>
      )}

      <div class="mt-24 grid gap-6 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          team?.people?.map((person: any) => (
            <div class="container mb-20 flex flex-col items-start justify-start">
              {/* <Icon aria-hidden="true" name="lucide:circle-user-round" size={80} /> */}
              <div class="h-[160px] w-[160px]">
                {person.image ? (
                  <Image
                    class='user-circle'
                    src={person.image.url}
                    alt={person.image?.alt || "Placeholder user image."}
                    decoding="async"
                    width={160}
                    height={160}
                    loading="lazy"
                  />
                ) : (
                  <Image
                    class='user-circle'
                    src={logo}
                    alt="Placeholder user image."
                    decoding="async"
                    width={160}
                    height={160}
                    loading="lazy"
                  />
                )}
              </div>
              <div class="mt-6">
                <div>
                  <span class="text-2xl font-bold">{person.name}</span>{' '}
                  <span class="italic">({person.pronouns})</span>
                </div>
                <Accordion>
                  <AccordionItem title={person.title} variant="chevron">
                    <div class="mt-6">{person.bio}</div>
                  </AccordionItem>
                </Accordion>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <CallToAction
        title="Want to join our team?"
        link="https://jaydot.breezy.hr"
        linkText="See job openings"
        icon="users"
      />

    <div class="container space-y-12">
      <Heading level="h2">
        Consultants
      </Heading>
      <div class="grid gap-6 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {
          team?.consultants?.map((person: any) => (
            <div class="container mb-20 flex flex-col items-start justify-start">
              {/* <Icon aria-hidden="true" name="lucide:circle-user-round" size={80} /> */}
              <div class="h-[160px] w-[160px]">
                {person.image ? (
                    <Image
                      class='user-circle'
                      src={person.image.url}
                      alt={person.image?.alt || "Placeholder user image."}
                      decoding="async"
                      width={160}
                      height={160}
                      loading="lazy"
                    />
                  ) : (
                    <Image
                      class='user-circle'
                      src={logo}
                      alt="Placeholder user image."
                      decoding="async"
                      width={160}
                      height={160}
                      loading="lazy"
                    />
                  )}
              </div>
              <div class="mt-6">
                <div>
                  <span class="text-2xl font-bold">{person.name}</span>{' '}
                  <span class="italic">({person.pronouns})</span>
                </div>
                <Accordion>
                  <AccordionItem title={person.title} variant="chevron">
                    <div class="mt-6">{person.bio}</div>
                  </AccordionItem>
                </Accordion>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  article {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-large);
    background-color: var(--background-color);
    padding: 1rem;
  }

  .user-circle {
    clip-path: circle();
  }

</style>
